.heading {
	font-size: 30px;
	font-weight: 900;
	color: #0053ee;
	align-items: center;
}

.heading .logo {
	margin: 25px;
}

.description {
	width: 80%;
	line-height: 1.5rem;
	font-size: 14px;
}

.comparison-item {
	-moz-box-shadow: 0 0 10px #ccc;
	-webkit-box-shadow: 0 0 10px #ccc;
	box-shadow: 0 0 10px #ccc;
	width: 33%;
}

.flexible {
	max-width: 100%;
	justify-content: center;
	flex-wrap: wrap;
}

.main-heading {
	font: 30px;
	color: #0053ee;
	text-align: center;
	text-transform: uppercase;
}

/* .company-container {
	background-color: white;
} */

.flex-child {
	margin: 2rem 0 0 2rem;
}

.chart {
	width: 100%;
}

.chart-container {
	margin-right: 75px;
}

.price {
	font-size: 24px;
}

.percent {
	margin-left: 15px;
}

.flex-child.chart-container #pageLoader {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 75px;
	height: 75px;
}

#pageLoader .loader-bar {
	width: 10px;
	height: 35px;
}

@media screen and (max-width: 700px) {
	.chart {
		height: 100%;
	}
	.flexible {
		flex-direction: column;
		align-items: center;
	}
	.comparison-item {
		width: 90%;
	}
	.responsive-img {
		width: 25%;
	}
	.responsive-header {
		font-size: 20px;
		margin-left: 15px;
	}
	.flex-child {
		margin: 1rem;
	}
	.description {
		width: 90%;
		font-size: 12px;
		line-height: 1.5;
	}
}
