.heading {
	font-size: 28px;
	color: #4834d4;
	align-items: center;
}

.description {
	width: 50%;
	line-height: 2rem;
	font-size: 18px;
}

.flex-child {
	margin: 3rem 0 0 8rem;
}

.chart-container {
	margin-right: 75px;
}

.price {
	font-size: 24px;
}

.flex-child.chart-container #pageLoader {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 75px;
	height: 75px;
}

#pageLoader .loader-bar {
	width: 10px;
	height: 35px;
}

@media screen and (max-width: 700px) {
	.chart {
		height: 100%;
	}
	.responsive-img {
		width: 25%;
	}
	.responsive-header {
		font-size: 20px;
		margin-left: 15px;
	}
	.flex-child {
		margin: 2rem;
	}
	.description {
		width: 90%;
		font-size: 12px;
		line-height: 1.5;
	}
}
