body {
  background-image: url("../media/background.svg");
  background-repeat: no-repeat;
  background-position-y: 12%;
  /* background-position-x: 150%; */
}

.input-bar {
  height: 60px;
  border-radius: 100px;
  background-color: white;
  padding: 10px;
}

.floating-input {
  border: none;
}

.floating-input.blue {
  border-radius: 25%;
  margin-right: 15px;
  background-color: rgb(180, 219, 255);
}

.result-float {
  background-color: white;
  border-radius: 50px;
}

.result-item {
  min-height: 50px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.25rem;
  background-color: transparent;
  border-bottom: 1px solid black;
}

.parent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logos {
  width: 10%;
  height: 100%;
  display: inline-block;
}

.logo-image {
  width: 50%;
}

.result-float ul:last-child {
  position: relative;
  display: block;
  padding: 0.5rem 1.25rem;
  background-color: transparent;
  border-bottom: none !important;
}

/*marquee style*/
.marquee {
  white-space: nowrap;
  overflow: hidden;
  background-color: white;
  color: black;
}
.marquee-content {
  display: flex;
  list-style: none;
  height: 100%;
  width: 95%;
  font-size: 14px;
  justify-content: space-evenly;
  align-items: center;
  animation: scrolling 145s linear infinite;
  margin: 0;
}

@keyframes scrolling {
  0% {
    transform: translateX(90vw);
  }
  100% {
    transform: translateX(-190vw);
  }
}

.marquee-content .marquee-list {
  align-items: center;
  flex-shrink: 0;
  white-space: nowrap;
  margin: 0px 8px;
}

.marquee-content .marquee-list span {
  width: fit-content;
}

.marquee .marquee-content:hover {
  animation-play-state: paused;
}

.loader {
  position: relative;
  left: 49%;
}

input[type="text"] {
  font-size: 24px;
}

@media (max-width: 767.98px) {
  .marquee-content {
    animation: scrolling 40s linear infinite;
  }
  .result-item {
    padding: 2rem 1.25rem;
    min-height: 30px;
  }
  .logos {
    width: 25%;
  }
}
